#hapus {
    background-color: red;
    color: black;
    font-weight: 500;
}

#konfirmasi {
    background-color: aqua;
    color: black;
    font-weight: 500;
}

#detailPesanan {
    background-color: green;
    color: black;
    font-weight: 500;
}

#detailProduk {
    background-color: green;
    color: black;
    font-weight: 500;
}